body{
    background-color: #1B4965;
    color: white;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

li{
    display: inline-block;
    margin: 20px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

